/*CSS Reset*/

* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
	/*Value for rem is short for root-em, most of browsers has a font size of 16px*/
	/*1rem is equivalent to 16px*/
	/*0.8 multiply to 16, is equals to 12.800 */
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom:  1px solid gray;
}

/*margin vs padding*/
/*margin is best used when creating space between elements*/
/*padding is best used when creating space between an element's border and it's content*/


nav .nav,nav .nav-logo{
/*    Changes elements to inline elements	*/
	display: inline;
	margin: 0.5rem;
    
    /*
    margin-top:0.5rem;
    margin-right:0.5rem;
    margin-bottom:0.5rem;
    margin-left:0.5rem;
    */
}


.header{
	text-align: center;
}

#intro{
	/*padding-left:10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	padding-right: 10%;*/

/* shorthand padding	*/
padding : 2rem 10% 3rem 10%;

	text-align: center;
}


#intro h2,#intro p{
     margin-bottom: 1rem;
}

#intro button{
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	font-size: 1rem;
	border-radius: 25px;
	
	padding:1rem;

}

#succeed-info {
     padding: 2rem 10% 3rem 10%;
}


#succeed-info h2{
	margin-bottom: 1rem;
}

#succeed-info h3{
	margin-bottom: 1rem;
	text-align: center;
}

#succeed-info .card{
/*	Aligns the elements with the tallest element inline*/
/*Used with the inline-block value*/
	vertical-align: top;

/*Allows the cards to appear beside each other	*/
	display: inline-block;

/*Usually define to identify min-height*/
	min-height: 175px;
	width:30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

footer{
	padding:0.7rem;
}

footer span{
    margin-left: 0.5rem;
    margin-right: 0.5rem;

}

/* Activity starts here  */

#pre-footer{
	background-color: #003256;
	color:white;
	padding:0.7rem;
}

#pre-footer div {
	display: inline-block;
	width : 20%;
     margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#pre-footer div h3{
	margin-bottom: 0.5rem;
}

#pre-footer div p{
	margin-bottom: 0.5rem;
}