/*sticky nav bar*/
nav{
	position: sticky;
   top: 0;
   background-color: white;
}

/*for inline display of nav bar*/
nav .nav-logo,nav div .nav{
	display: inline;
    margin-right: 2rem;
}

.right-nav{
	display: inline;
	margin-left: 35%;
	margin-right:5%;
}


/*styling to tuitt-button*/
.tuitt-button{
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	font-size: 1rem;
	border-radius: 25px;
	border-color: transparent;
	padding:0.5rem;
}

/*Adding backgroung image*/
#bg-image{
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: 100%;
	background-position: center center;
	background-attachment: scroll;
	background-repeat: no-repeat;
	height: 350px;
	
}



.container{
	color:white;
	
	padding-left: 700px;
	padding-right: 140px;
	
	text-align: right;

	
}

.front-bg {
	background-color: rgba(0, 0, 0, 0.5);
	height:350px;

}

.container h1{
    font-size:40px;
}

.container h2{
	margin-left: 100px;
}

.apply-button{
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	font-size: 1rem;
	border-radius: 25px;
	border-color: transparent;
	padding:0.5rem;
}


/*Changing font to Zilla Slab*/
.title, .title-2{
	font-family: "Zilla Slab";
}

/*Changing backgroung color of pre footer*/
.pre-footer{
	background-color: #f7fbfb;
}

/*Changing backgroung color of book-button*/
.book-button{
	background-color: #c2195b;
	margin-bottom: 100px;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	border-radius: 25px;
	border-color: transparent;
	padding:0.5rem 2rem 0.5rem 2rem;
}

/*Aligning footer to center*/
footer{
	padding:0.7rem;
	text-align: center;
}

footer span{
    margin-left: 0.5rem;
    margin-right: 0.5rem;

}

.intro,.pre-footer{
	text-align: center;
}

.pre-footer p{
	margin-right: 20%;
	margin-left: 20%;
}

.intro p{
	margin-right: 20%;
	margin-left: 20%;

	padding-bottom:40px;
	text-align:left;
}

.pre-footer h2{
    padding-top: 40px;
    padding-bottom: 20px;
}


.intro h2{
	padding-top: 40px;
    padding-bottom:40px;
}


