p[id="p_external"] {
	color: yellow;
}

* {
	font-family: Serif;
	font-size: 20px;
}

h1{
	font-size: 2rem;
}

#h2_tag{
	text-transform: uppercase;
}

.Languages_list{
	background-color: #86BD91;
}

li[class = "tools"]{
	border: 2px solid hsl(210, 50%, 70%);
}

img + ul{
	list-style-type: none;
}

section img{
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

ul ~ p{
	text-align: center;
}

body > section > ul > li{
	letter-spacing: 5px;
}
